*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    /* <!-- ნინო - > ბრენჩის სახელი ჰეადერი და 1 სექცია   --> */


}
.container {
    max-width: 1440px;
    margin: 0 auto; }

nav{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-logo{
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
}

.nav-logo img{
    width: 234px;
    height: 50px;
}

.nav-content{
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-content ul {
        display: flex;
        gap: 40px; /* აქ გავზარდე დაშორება, რომ მენიუ სწორად განლაგდეს */
        list-style: none;
        padding: 0;
        margin: 0;
        align-items: center;
}
.nav-content ul li {
    white-space: nowrap; /* ტექსტი არ გადავიდეს ახალ ხაზზე */
}

.nav-content a{
    font-size: 14px;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 20px; 
    transition: all 0.3s ease-in-out;
    border-radius: 40px; 
    display: inline-block;
}

/* კონტაქტის ღილაკის სტილი ჰედერში */

.contact-btn{
    cursor: pointer;
    border-radius: 40px;
    border: none;
    outline: none;
    background: none;
}

.nav-content a:hover {
    background-color: rgba(76, 224, 215, 1);
    color: #262626;
    transform: scale(1.05); /* ოდნავ გადიდება */
    transition: all 0.3s ease-in-out; }

/* სერჩ ღილაკის სტილები */

.nav-search{
    width: 5%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-search button{
    width: 47px;
    height: 47px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    background-color:  rgba(76, 224, 215, 1);
}

    /* სამართავი სერჩის */

.nav-search {
    position: relative; 
    display: flex;
    align-items: center;
}
#search-box {
    position: absolute;
    right: 50px; 
    top: 50%;
    transform: translateY(-50%);
    width: 0px; 
    overflow: hidden;
    background: white;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: width 0.4s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    display: flex;
    align-items: center;
    z-index: 1;
}

/* საძიებო ველის input */
#search-box input {
    width: 180px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
    font-size: 14px;
}

/* როცა გამოჩნდება */
#search-box.active {
    width: 200px;
    opacity: 1; }

    #search-button {
        position: relative;
        z-index: 2; 
        background-color: rgba(76, 224, 215, 1);
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

/* nav enc */

/* section 1 */

section{
    width: 1372px;
    height: 649px;
    background-image: url(https://s3-alpha-sig.figma.com/img/1bee/a1ef/0b5a8175f2b1b04184e84b4b4a68a3fa?Expires=1740355200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=imjMuC0cBcteo9EDsnoQBBE6t4zGFK6m8T~ENUDnNsScYY7Bqwf2jNMjbQMiX1bvYi1FWWDrpB227kdqJWinCE84mIeWeHSe36~vw-jC6ZYeVkgAzA1OSSNmupd582h1MsBD0vCZ8Mxi1kFKrzKiC8TCwuFnhFYugbQlvCIHRhRCh2UbupCib9PyGBW4ZOjYkCzTTpkaU5G2o1U0u0eqJpnC9qWV2wnnX378Fg2deMpr3RLx0nhwcZAs9aSzoi~SrqbVLAyRkF2rzAeZtjZ1Tql5OWJ9FaLBJUgT1lPfPBNokWEFHk~ihQtt69Sjh6BSIrXMg6CvsHc7slptgYwfQA__);
    background-position: center top ;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 40px;

}
.main1 {
    width: 100%;
    height: 649px;
    display: flex;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.175);
    border-radius: 40px;
}

.main1-txt1{
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    text-align: start;
    position: relative;
    left: 70px;
    top: 90px;
}
.main1-txt1 h5{
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 700;
}
.main1-txt1 h1{
    font-size: 49px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.main1-txt1 span{
    background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
    background-clip: text;  
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.main1-txt1 p{
    font-size: 20px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}


   /* <!-- ნინო - > ბრენჩის სახელი "ჰეადერი და 1 სექცია"   --> */
    /* <!-- ნიკუშა -> ბრენჩის სახელი 2 სექცია   --> */

/* მეორე სექცია */

.section2{
    width: 100%;
    height: 540px;
    display: flex;
    flex-direction: column;
    background: none;
    margin-top: 50px;
   

}
.satauri1{
    width: 330px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    top: 20px;
}

.satauri1 h1{
    font-size: 32px;
    color: black;
    font-weight: 700px;
    font-family: "Poppins", sans-serif;
}
.cards1{
    width: 1272px;
    height: 540px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 15px;
    border-bottom: solid gray 2px;

}

.n1{
    width: 204px;
    height: 291px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.n1 span{
    color: black;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;

}
.n1 button{
    width: 143px;
    height: 35px;
    border: none;
    outline: none;
    color: black;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    border-radius: 40px;
    background-color: rgba(76, 224, 215, 1);
    cursor: pointer;
}

/* sec2 ჰოვერის სტილი */
.n1:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.n1:hover button {
    background-color: white; 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25); 
    transition: all 0.3s ease-in-out; 
    color:rgba(76, 224, 215, 1);
}

/* end */



/* <!-- ნიკუშა -> ბრენჩის სახელი 2 სექცია   --> */